.phone-container {
    display: flex;
    align-items: center;
}

.phone-container select {
    width: 70px; /* Adjust width as needed */
    margin-left: 10px; /* Add some space between select and input */
}

.phone-container input {
    flex: 1; /* Take remaining space */
}
