{% extends "base.html" %}
{% block title %}התחברות{% endblock %}

{% block content %}
    <div class="page-layout">
        <div class="form-side">
            <div class="container">
                <h2>התחברות</h2>

                <form id="sign-in-form" method="POST" action="/login" class="sign-in-form">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div id="flash-messages">
                        {% for message in messages %}
                          <p class="flash-message">{{ message }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                    <div class="input-group">
                        <label for="username">שם משתמש:</label>
                        <input type="text" id="username" name="username" required value="{{ request.form.username|default('', true) }}">
                    </div>

                    <div class="input-group">
                        <label for="password">סיסמה:</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <input type="submit" value="התחבר">
                    
                  <a href="/register" class="signup-link">איך לך משתמש? בצע רישום</a>
                </form>
            </div>
        </div>
    </div>
    <script>
      document.getElementById('sign-in-form').addEventListener('submit', function(event) {
          event.preventDefault();
          
          const formData = new FormData(this);
          const data = Object.fromEntries(formData.entries());
      
          fetch('/login', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(result => {
              if (result.error) {
                  alert(result.error); 
              } else {
                  alert(result.message); 
                  window.location.href = '/dashboard'; 
              }
          })
          .catch(error => console.error('Error:', error));
      });
      </script>
      
      </script>
{% endblock content %}
