{% extends "base.html" %}
{% block title %}התחברות{% endblock %}

{% block content %}
    <div class="page-layout">
        <div class="form-side">
            <div class="container">
                <h2>התחברות</h2>

                <form method="POST" action="/login" class="sign-in-form">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div id="flash-messages">
                        {% for message in messages %}
                          <p class="flash-message">{{ message }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                    <div class="input-group">
                        <label for="username">שם משתמש:</label>
                        <input type="text" id="username" name="username" required value="{{ request.form.username|default('', true) }}">
                    </div>

                    <div class="input-group">
                        <label for="password">סיסמה:</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <input type="submit" value="התחבר">
                    
                  <a href="/register" class="signup-link">איך לך משתמש? בצע רישום</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}